@model Dictionary<int, CartItem>

@{
    ViewBag.Title = "Cart";
}

<h1>Cart</h1>
<p>
    <a asp-action="ClearAll" class="nav-link btn-link text-dark mb-3">
        Delete all items
    </a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Value.Item.Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value.Item.Name)
                </td>
                <td>
                    @item.Value.Count
                </td>
                <td>
                    @(item.Value.Count * item.Value.Item.Price)
                    $
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Key">
                        <i class="fa-solid fa-trash fa-fade" style="color: #000000;"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>